<div class="summary">
    <div class="row">
        <div class="repo-summary-text">
            There are <span class="bold-text">{{repoSummary.commits}} commits</span> from <span class="bold-text">{{repoSummary.authors}} authors</span> in <span class="bold-text">{{repoSummary.files}} files</span>. Approximate size of the repository is <span class="bold-text">{{byte-units repoSummary.size}}</span>.
        </div>
    </div>
</div>
<hr>
<div class="days-filter">
    <div class="days-filter-text">Analyze the last {{days}} days</div>
    <div class="days-filter-slider">
        <div class="slider-min">0</div>
        {{jqui-slider value=days min=1 max=30 step=1 slide="slideAction"}}
        <div class="slider-max">30</div>
    </div>
</div>

<div class="dash-headline">TOP ACHIEVERS</div>
<div class="top-achievers">
    <div class="row">
        <div class="col-sm-3">
            <div class="dash-card">
                <div class="dash-card-header">{{topAchievers.lines_r.winner}}</div>
                <div class="dash-card-value red">{{topAchievers.lines_r.value}}</div>
                <div class="dash-card-footer">Lines Deleted</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="dash-card">
                <div class="dash-card-header">{{topAchievers.lines_a.winner}}</div>
                <div class="dash-card-value green">{{topAchievers.lines_a.value}}</div>
                <div class="dash-card-footer">Lines Added</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="dash-card">
                <div class="dash-card-header">{{topAchievers.commits.winner}}</div>
                <div class="dash-card-value blue">{{topAchievers.commits.value}}</div>
                <div class="dash-card-footer"># of commits</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="dash-card">
                <div class="dash-card-header">{{topAchievers.size.winner}}</div>
                <div class="dash-card-value green">{{byte-units topAchievers.size.value}}</div>
                <div class="dash-card-footer">Size</div>
            </div>
        </div>
    </div>
</div>

<div class="charts">
    <div class="row">
        <div class="col-sm-6">
            <div class="dash-headline">COMMITS</div>
            <div class="dash-chart">
                {{bar-chart data=reports xKey='date' yKey='commits'}}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="dash-headline">SIZE</div>
            <div class="dash-chart">
                {{bar-chart data=reports xKey='date' yKey='size'}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="dash-chart">
                {{filesTotals.added}}
                {{filesTotals.deleted}}
                {{filesTotals.changed}}
                {{line-chart data=reports xKey='date' yKey1='files_a' yKey2="files_r" yKey3='files_c'}}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="dash-chart">
                {{linesTotals.added}}
                {{linesTotals.deleted}}
                {{line-chart data=reports xKey='date' yKey1='lines_a' yKey2="lines_r"}}
            </div>
        </div>
    </div>
</div>

{{outlet}}
